@import url('https://fonts.googleapis.com/css2?family=Valley+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

body {
background: linear-gradient(
  135deg,
  #f5f3ff 0%,
  #eef2ff 50%,
  #e0e7ff 100%
);
  min-height: 100dvh;
  font-family: "Valley Sans", sans-serif;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  position: relative;
}

