@import url('https://fonts.googleapis.com/css2?family=Valley+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

body {
  background-color: #FEF1DF;
  min-height: 100dvh;
  font-family: "Valley Sans", sans-serif;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

